<template>
    <div>
        <div style="width: 100%;" @click="show()">   
            <ul>
                <li>{{ cellSubject.name }}</li>
                <li>{{ cellLecturer.title }} {{ cellLecturer.name }} {{ cellLecturer.surname }}</li>
                <li>{{ cellClassroom.number }}</li>
            </ul>
        </div>    
        <div class="overlay" v-if="showCellForm">
            <div class="container cell-form">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="subject">Przedmiot</label>
                          <select type="text" class="form-control" name="subject" id="subject" placeholder="Przedmiot" required v-model="selectedSubjectId" @change="setSubject()">
                            <option value="">Przedmiot...</option>
                            <option v-for="subject in subjects" v-bind:value="subject.id">{{subject.name}}</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="lecturer">Wykładowca</label>
                          <select type="text" class="form-control" name="lecturer" id="lecturer" placeholder="Wykładowca" required v-model="selectedLecturerId" @change="setLecturer()">
                            <option value="">Wykładowca...</option>
                            <option v-for="lecturer in lecturers" v-bind:value="lecturer.id">{{ lecturer.title }}. {{ lecturer.name }} {{ lecturer.surname }}</option>

                          </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="classroom">Sala</label>
                          <select type="text" class="form-control" name="classroom" id="classroom" placeholder="Przedmiot" required v-model="selectedClassroomId" @change="setClassroom()">

                            <option value="">Sala...</option>
                            <option v-for="classroom in classrooms" v-bind:value="classroom.id">Sala: {{ classroom.number }}, miejsca {{ classroom.capacity }}</option>

                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="color: red;">
                    <p v-if="showErrors">
                    <ul>
                      <li v-for="error in errors">{{ error }}</li>
                    </ul>
                  </p>
                </div>
                <button class="btn btn-primary" @click="setCell()">Zapisz</button>
                <button class="btn btn-danger" @click="cancel()">Anuluj</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['dayid', 'hourid', 'subjects', 'classrooms'],
        data() {
            return {
                showCellForm: false,
                lecturer: '',
                subject: '',
                classroom: '',
                selectedSubjectId: '',
                selectedLecturerId: '',
                selectedClassroomId: '',
                lecturers: '',
                cellSubject: '',
                cellLecturer: '',
                cellClassroom: '',
                group: this.$parent.selectedGroup,
                showErrors: false,
                errors: [],
            }
        },

        methods: {

            setSubject() {
                this.subject = this.subjects.filter((el) =>{
                    let subjectId = this.selectedSubjectId;
                    return el.id === subjectId;
                });

                this.subject = this.subject[0];

                this.lecturers = this.subject.lecturers;
            },

            setLecturer() {
                this.lecturer = this.lecturers.filter((el) =>{
                    let lecturerId = this.selectedLecturerId;
                    return el.id === lecturerId;
                });

                this.lecturer = this.lecturer[0];
            },

            setClassroom() {
                this.classroom = this.classrooms.filter((el) =>{
                    let classroomId = this.selectedClassroomId;
                    return el.id === classroomId;
                });

                this.classroom = this.classroom[0];
            },

            setCell() {

                if(!this.validate()){
                    this.showErrors = true;
                } else {
                    this.cellSubject = this.subject;
                    this.cellLecturer = this.lecturer;
                    this.cellClassroom = this.classroom;

                    this.errors = [];
                    this.showErrors = false;
                    this.hide();
                }
            },

            cancel() {

                this.lecturer = '';
                this.subject = '';
                this.classroom = '';

                if(!this.cellSubject || !this.cellLecturer || !this.cellClassroom){
                    this.selectedLecturerId = '';
                    this.selectedSubjectId = '';
                    this.selectedClassroomId = '';
                }
                
                this.errors = [];
                this.showErrors = false;
                this.hide();
            },

            validate() {

                this.errors = [];

                if(!this.selectedSubjectId){
                    this.errors.push('Nie wybrano przedmiotu');
                    return false;
                }

                if(!this.selectedLecturerId){
                    this.errors.push('Nie wybrano wykładowcy');
                    return false;
                }

                if(!this.selectedClassroomId){
                    this.errors.push('Nie wybrano sali');
                    return false;
                }

                if(this.classroom.capacity < this.group.number_of_students) {
                    this.errors.push('Sala nie pomiesci tej grupy');
                    return false;
                }
                return true;
            },  

            hide() {
                setTimeout(() => {
                    this.showCellForm = false;
                }, 100);
            },

            show() {
                setTimeout(() => {
                    this.showCellForm = true;
                }, 100);
            }
        }
    };
</script>

<style>
    .overlay{
        position: fixed;
        height: 100%;
        width: 100%;
        min-width: 480px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.5);
        min-height: 730px;
        z-index: 300;
        top: 0;
        left: 0;
    }
</style>