.container{margin-bottom:10px;}

.plan-form{
	margin-top: 25px;
	border: 1px solid #eee;
}

.plan-form .row{
	height: 100px;
}

.plan-form .cell, .plan-form plan-cell{
	padding:5px;
	border: 1px solid #eee;
}

.plan-form .cell ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cell-form{
	background: #ffffff;
	margin-top: 100px;
	padding: 20px;
}

.cell-hover:hover{
	background: #eee;
	cursor: pointer;
}

.no-padding{
	padding: 0;
}